.inputBlock {
  display: flex;
  align-items: center;
  column-gap: 10px;
  border: 1px solid black;
  height: 100%;
  padding: 13px;
  svg {
    width: 20px;
    color: gray;
  }
  .input {
    width: 100%;
    &::placeholder {
      color: rgb(160, 160, 160);
    }
  }
}
