.main {
  align-self: flex-start;
  width: 100%;
  .btnBlock {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));
    row-gap: 10px;
    column-gap: 10px;
  }
}
