.itemSection {
  display: grid;
  align-items: center;
  grid-template-columns: minmax(0, 450px) auto;
  column-gap: 30px;
  @media (max-width: 630px) {
    & {
      grid-template-columns: 1fr;
      row-gap: 10px;
      .changeBlock.hide {
        display: none;
      }
    }
  }
  .changeBlock {
    display: flex;
    flex-direction: column;
    gap: 4px;
    height: 100%;
    &.hide {
      visibility: hidden;
    }
    .changePriceBody {
      display: grid;
      grid-template-columns: 1fr 1fr;
      align-items: center;
      column-gap: 16px;
      .inputText {
        display: grid;
        grid-template-columns: auto minmax(0, 300px);
        align-items: center;
        column-gap: 10px;
        //  width: 100%;
        input {
          border: 1px solid black;
          padding: 13px 10px;
          &::placeholder {
            color: rgb(158, 158, 158);
          }
        }
        span {
          font-weight: 300;
          font-size: 14px;
          line-height: 109%;
        }
      }
    }
  }
}

.inputTitle {
  font-weight: 500;
  font-size: 14px;
  line-height: 109%;
  margin-bottom: 5px;
}
